table, td, th, dl, dt, dd, p, tr { font-size: 100%;font-family: arial, "lucida grande", helvetica, sans-serif;}
 
 
 
a:link {
	color: teal;
	text-decoration: none;
	}
a:visited {
	color: teal;
	text-decoration: none;
	}
a:hover {
	color:  #005a9c;
	background: white;
	text-decoration: underline;
	}
blockquote {
	text-align: left;
	}
body {
	margin: 2em 12em 2em 70px;
	background-color: white;
	color: gray;
	font-family: arial, "lucida grande", helvetica, sans-serif;
	font-size: 0.9em;
	}
#disclaimer {
	background-color: #eee;
	padding: 0.5em;
	}
dt {
	font-weight: bold;
	margin-top: 1em;
	}
h1 {
	font-size: 200%;
	font-weight: normal;
	/* text-transform: lowercase; */
	}
h2 {
	font-size: 140%;
	font-weight: normal;
	text-transform: lowercase;
	margin-top: 2em; 
	text-align: left;
	}
h3 {
	text-align: left;
	font-size: 125%;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	/* text-transform: lowercase; */
	}
.hide {
	display: none;
	}
img {
	border: 0;
	}
#navigation {
	line-height: 150%;
	background-color: transparent;
	color: #555;
	font-weight: bold;
	margin-top: 3em;
	margin-bottom: 1.5em;
	}
.new-term {
	font-style: italic;
	}
	/*
p in */ #navigation p {
	margin-top: 0;
	margin-bottom: .25em;
	text-align: left;
	font-size: 90%;
	}
div.section {
	line-height: 150%;
	background-color: white;
	color: #555;
	}
.uppercase {
	text-transform: uppercase;
	}
 
 
/* NOT CHECKED AFTER THIS */
/*
#sidebar li {
	list-style: disc; /* Mac NS has problem with 'none' #/
	list-style: none;
	margin-top: .25em;
	margin-bottom: .25em;
	}
#sidebar ul {
	margin-left: 2em;
	padding: 0;
	}
*.new { 
	color:white; 
	background:teal; 
	font-size: .8em; 
	}
*/

