html {
	background-color: #191919;
}
body {
	font-family: monaco;
	color: #e6e6e6;
}

h1 {
    color: #82cd00;
	text-align: left;
	font-size: 2em;
	padding: .3em 2em;
}

ul.menu {
	position: absolute;
	top: 3em;
	left: 0;
}

ul.menu li {
	background-color: #92003f;
	border: 1px solid black;
	float: left;
	padding: .5em;
}

ul.menu li a {
	color: #f00;
}

ul.menu li.active {
	background-color: #fff;
	color: #000;
	font-weight: bold;
}