body {
	background-color: #FFFFFF;
	font-family: Arial;
	min-width: 1000px;
	height: 100%;
    width: 100%;
    font-size: 80%;
}

.questionToMayorWrapper , .iLoveCherepovetsWrapper {
    display: none;
}

/*--------------elements----------------*/

    a {
        color: #0099CC;
    }
	
	.title {
		font-size: 1.6em;
		font-family: Georgia;
        margin-bottom: 0.5em;
        clear: both;
	}
	
		.title a {
			color: black;
            text-decoration: none;
            border-bottom: 1px solid #B2B2B2;
		}
        
        .title a:hover {
            border-bottom: 1px solid #000000;
        }
	
    #ima .title {
		font-size: 1.6em;
		font-family: Georgia;
        margin-bottom: 1em;
        clear: both;
	}
    
    .subTitle {
		font-size: 1.3em;
		font-family: Georgia;
        margin-bottom: 0.5em;
        clear: both;
	}
    
        .subTitle a{
            color: #000000;
            text-decoration: none;
            border-bottom: 1px solid #B2B2B2;            
        }
        
        .subTitle a:hover {
            border-bottom: 1px solid #000000;
        }
    
    #ima .subTitle {
		font-size: 1.3em;
		font-family: Georgia;
        margin-bottom: 1em;
        clear: both;
	}
    
    .text {
        float: left;
        margin-bottom: 1em;
    }
    
    .thumbnail {
        margin: 1em 0 1em 0;
    }
    
    .greenLink {
        text-decoration: none;
        border-bottom: 1px dotted #359544;
        color: #359544;
    }
    
    .centralPartBannerContainer {
        width: 410px;
        height: 90px;
        margin: 1em 0 1em 0;
        background-color: #E0F1F1;
        float: left;
    }
    
    .topLeftPartBannerContainer {
        width: 330px;
        height: 90px;
        background-color: #E0F1F1;
        clear: both;
        margin: 2em 0 1em 0;
        float: left;
    }
    
    .topCentralPartBannerContainer {
        float: left;
		width: 250px;
		height: 90px;
		background-color: #E0F1F1;
		margin: 1em 0 1em 0;
    }
    
    .topRightPartBannerContainer {
        width: 140px;
		height: 90px;
		float: left;
		background-color: #E0F1F1;
		margin: 1em 0 0 1em;
    }
    
    .middleBannerContainer {
        clear: both;
		width: 700px;
		height: 90px;
		background-color: #E0F1F1;
		margin: 2em 0 1em 4em;
        float: left;    
    }
    
    .bottomLeftPartBannerContainer {
        width: 320px;
		height: 90px;
        clear: both;
		float: left;
        background-color: #E0F1F1;
		margin: 1em 0 1em 0; 
    }
    
    .bottomRightPartBannerContainer {
        width: 300px;
		height: 90px;
		float: left;
		background-color: #E0F1F1;
		margin: 4em 0 2em 2em;        
    }
    
    .topBanner {
		
	}
    
    .note {
       float: left;
       margin-top: 1em;
       width: 100%;
    }
    
        .note img {
            float: left;
            margin-right: 1em;
        }
        
        .noteText {
            margin-left: 70px;
        }
        
        .noteTextWithoutImage {
            margin: 0 !important;
        }
        
            .noteDate {
                color: white;
                padding: 0 0.3em 0 0.3em;
                float: left;
                margin-right: 0.5em;
                font-size: 0.7em;   
            }
    
    .listArrow {
        width: 48px;
        height: 8px;
        background-image: url('images/images.gif');	
        background-position: 52% 0%;
        margin-top: 1em;
        margin-left: 46%;
        float:left;
    }
    
    .rssLink {
        clear: both;
        float: left;
        margin-top: -1em;        
    }
    
        .rssIcon {
           background-image: url('images/images.gif');	
           background-position: 96.5% 0%;
           background-repeat: no-repeat;
           height: 16px;
           width: 16px;
           float: left;
           margin-right: 0.5em;
        }
    
    .documents {
        margin-top: 3em;
        float: left;
        clear: both;
        width: 100%;
    }
    
        .documentsBlock {
            background-color: #EFEEDC;
            border-bottom: 1px solid #C6C282;
            width: 100%;
            height: 47px;
            clear: both;
            float: left;
            margin: 1em 0 2em 0;            
        }
        
            .documentCluster {
                float: left;
                margin: 0.5em 1em 0 0.5em;
            }
           
                .fileIcon {
                    background-image: url('images/images.gif');	
                    width: 25px;
                    height: 29px;
                    float: left;
                    margin: 0 0.5em 0 0.5em;
                    position: absolute;
                }
                
                .docIcon {
                    background-position: 85.3% 0%;
                }
                
                .pdfIcon {
                    background-position: 88.8% 0%;
                }
                
                .documentCluster a {                            
                    margin-bottom: 0.2em;
                    margin-left: 35px;
                }
                
                .fileSize {
                    color: #666666;
                    margin-left: 35px;
                }
        
    .tabView {
        margin: 1em 0 1em 0;
        float: left;
    }
    
        .tabView li {
            float: left;
            margin-right: 1em;
            border-bottom: 1px dotted #7BCB7D;	
        }						
            
            .tabViewArrow {
                background-image: url('images/tabViewArrow.gif');
                padding-bottom: 5px;
                background-position: 50% 100%;
                background-repeat: no-repeat;
            }
            
            .tabView li a {
                color: #359544;								
                text-decoration: none;															
            }
        
        .activeTabViewItem {
            border: none !important;
        }
        
            .activeTabViewItem a {
                background-color: #4FBA51;
                padding: 0.1em 0.4em 0.1em 0.4em;
                margin-bottom: 1em;
                color: white !important;                                
            }
    
    .listOfLinks {
        clear: both;
        float: left;
        margin-bottom: 1em;
        width: 100%;
    }
    
        .listOfLinks li {
            margin-bottom: 0.8em;
        }
        
            .listOfLinks li a {
                color: #0099CC;
            }
    
    .videoContent {								
        background-color: #EFEEDC;	
        overflow: hidden;
        zoom: 1;
        min-height: 3.0em;
        border-bottom: 1px solid #C6C282;
        margin-bottom: 1em;
        clear: both;
    }
					
        .videoIcon {
            width: 29px;
            height: 30px;									
            background-image: url('images/images.gif');	
            background-position: 42.5% 0%;	
            float: left;
            margin: 0.7em 0 0 0.5em;
        }

        .videoBlockText {
            margin: 0.5em 14px 10px 45px;
        }
						
        .swicherContainer {
            height: 3em;
            width: 3em;					
            float: right;
        }

            .videoBlockSwitcher {
                width: 12px;
                height: 17px;
                background-image: url('images/images.gif');	
                background-position: 46.7% 0%;
                margin: 1em 0 0 1.2em;	
            }
    
    .placeWrap {
        clear: both;
        float: left;
        margin-bottom: 1em;
    }
    
        .place {
            clear: both;
            float: left;
            margin-top: 2em;
        }
            
            .place img {
                position: absolute;
            }
        
            .placeInfo {
                margin-left: 7em;
                margin-bottom: 1em;                
            }
            
            .placeInfoLongImage {
                margin-left: 10em;
            }
            
            .placeMailIcon {
                margin-top: 0.3em;
            }
            
    .person {
        float: left;
        margin-bottom: 2em;        
    }
    
    .personWithLargePhoto {
        margin-bottom: 100px;
    }
    
        .person img {    
            position: absolute;            
        }
        
        .personInfo {            
            margin-left: 7em;
        }
        
            .personText {
                margin-top: 1em;                  
            }
        
        .largePhotoPosition {
            margin-left: 10em;
        }
    
/*-----------page structure------------*/
    
	.wrap {
		background-repeat: repeat-x;	
		background-color: #FFFFFF;
		background-image: url('images/headerBackgound.png');
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
	}	
		
		.headerWrapper {
            background-image: url('images/headerBackgoundLeft.png');
            width: 100%;
			height: 100px;
            background-repeat: no-repeat;
        }
        
        .header {
			width: 100%;
			height: 100px;     
            position: absolute;            
		}
        
        .headerRightCorner {
            width: 147px;
            height: 71px;           
            float: right;
            background-image: url('images/headerBackgoundRight.png');
        }
        
            .miniCity {
                clear: both;
                width: 100%;
                height: 60px;
                float: left;
                margin-bottom: 1em;
            }
                
                .miniCityPart1 {
                    float: left;
                    height: 60px;
                    margin-left: 3em;
                    width: 30%;
                }
                
                    .miniCityPart1_leftSide {
                        float: left;
                        height: 60px;
                        width: 131px;
                        background-image: url('images/miniCity.gif');
                        background-position: 0% 0%;
                    }
                    
                    .miniCityPart1_center {
                        background-image: url('images/miniCity_left.gif');
                        background-repeat: repeat-x;
                        height: 60px;
                        width: auto;
                        margin: 0 127px 0 131px;
                    }
                    
                    .miniCityPart1_rightSide {
                        float: right;
                        height: 60px;
                        width: 127px;
                        background-image: url('images/miniCity.gif');
                        background-position: 17% 0%;
                    }
                
                .miniCityPart2 {
                    float: left;
                    height: 60px;
                    width: 32%;
                }
                
                    .miniCityPart2_leftSide {
                        float: left;
                        height: 60px;
                        width: 134px;
                        background-image: url('images/miniCity.gif');
                        background-position: 34% 0%;
                    }
                    
                    .miniCityPart2_center {
                        background-image: url('images/miniCity_left.gif');
                        background-repeat: repeat-x;
                        height: 60px;
                        width: auto;
                        margin: 0 168px 0 134px;
                    }
                    
                    .miniCityPart2_rightSide {
                        float: right;
                        height: 60px;
                        width: 168px;
                        background-image: url('images/miniCity.gif');
                        background-position: 54% 0%;
                    }
                
                .miniCityPart3 {
                    float: left;
                    height: 60px;
                    width: 34%;
                }
                
                    .miniCityPart3_leftSide {
                        float: left;
                        height: 60px;
                        width: 89px;
                        background-image: url('images/miniCity.gif');
                        background-position: 70% 0%;
                    }
                    
                    .miniCityPart3_center {
                        background-image: url('images/miniCity_left.gif');
                        background-repeat: repeat-x;
                        height: 60px;
                        width: auto;
                        margin: 0 247px 0 89px;
                    }
                    
                    .miniCityPart3_rightSide {
                        float: right;
                        height: 60px;
                        width: 247px;
                        background-image: url('images/miniCity.gif');
                        background-position: 100% 0%;
                    }

			#index .logo {
				background-image: url('images/images.gif');	
				background-position: 0% 0%;		
				width: 135px;
				height: 62px;
				margin: 1em 0 0 3em;
				float: left;				
			}
            
            .logo {
				background-image: url('images/images.gif');	
				background-position: 27.7% 0%;		
				width: 110px;
				height: 62px;
				margin: 2em 0 0 3.5em;
				float: left;				
			}

			.mainMenu {
				margin: 1.5em 0 0 1em;
				float: left;
				min-width: 500px;
                font-size: 1.1em;
			}
				
				.mainMenu li {
					float: left;
					margin: 1em 0 0 0.7em;                    
				}
                
                .activeMainMenuItem {
                    color: #000000;
                    text-decoration: none;
                    font-weight: bold;
                }
								
				.headerSeparator {
					float: left;
                    margin: 1em 0 0 0.7em;					
					width: 3px;
					height: 20px;
					background-image: url('images/images.gif');	
					background-position: 23.1% 0%;
				}				
				
			.searchContainer {
				width: 15em;
				height: 5em;
				float: right;	
				margin-top: 1.2em;
                margin-right: 0.5em;
			}
				
				.homeLink {
					width: 12px;
					height: 14px;
					margin-top: 0.1em;
					float: left;
					background-image: url('images/images.gif');	
					background-position: 38.1% 0%;
				}
				
				.fullScreenLink {
					margin: 0 0 0 1.5em;
					width: 14px;
					height: 14px;
					margin-top: 0.1em;
					background-image: url('images/images.gif');	
					background-position: 39.8% 0%;
					float: left;
				}
				
				.languageLink {
					margin-left: 1.5em;
					font-size: 0.8em;
				}
				
				.searchInput {
					clear: both;
					font-size: 1em;
					font-style: italic;
					width: 12em;
					color: #CCCCCC;
					margin: 0.5em 0 0 0;	
					clear: both;
                    border: 1px solid #C3C3C3;
				}
        
        .mainSubMenuWrapper {
            width: 100%;
            margin: 0 0 2em -50px;
            overflow: hidden;
            float: left;
        }
        
        #city .mainSubMenu {            
            width: 100%;            
            margin-left: 100px;
            float:left;
            background-image: url('images/subMenuBackground_city.png');
            background-repeat: repeat-x;
            height: 36px;
        }
        
        #supreme .mainSubMenu {            
            width: 100%;            
            margin-left: 100px;
            float:left;
            background-image: url('images/subMenuBackground_supreme.png');
            background-repeat: repeat-x;
            height: 36px;
        }
        
        #mayor .mainSubMenu {            
            width: 100%;            
            margin-left: 100px;
            float:left;
            background-image: url('images/subMenuBackground_supreme.png');
            background-repeat: repeat-x;
            height: 36px;
        }
        
        #ima .mainSubMenu {            
            width: 100%;            
            margin-left: 100px;
            float:left;
            background-image: url('images/subMenuBackground_ima.png');
            background-repeat: repeat-x;
            height: 36px;            
        }
        
            .mainSubMenuList {
                margin: 0.6em 0 0 2em;
            }
            
                .mainSubMenuList li {
                    float: left;
                    margin-right: 2em;
                    margin-top: 0.2em;
                }
                    
                    .mainSubMenuList li a {
                        color: #000000;                        
                    }
                    
                    .activeMainSubMenuList {
                        background-color: #FFFFFF;
                        padding: 3px 7px 3px 7px;
                    }
                    
                    #ima .mainSubMenuList li a {
                        color: #FFFFFF;
                    }
         
        #city .mainSubMenuArrow {
            background-image: url('images/images.gif');	
			background-position: 67.9% 0%;
            width: 20px;
            height: 20px;
            position: absolute;
            margin: -20px 0 0 10em;            
        }
        
        #supreme .mainSubMenuArrow {
            background-image: url('images/images.gif');	
			background-position: 91.7% 0%;
            width: 20px;
            height: 20px;
            position: absolute;
            margin: -20px 0 0 13.5em;            
        }
        
        #mayor .mainSubMenuArrow {
            background-image: url('images/images.gif');	
			background-position: 91.7% 0%;
            width: 20px;
            height: 20px;
            position: absolute;
            margin: -20px 0 0 13.5em;            
        }
        
        #ima .mainSubMenuArrow {
            background-image: url('images/images.gif');	
			background-position: 94.3% 0%;
            width: 20px;
            height: 20px;
            position: absolute;
            margin: -20px 0 0 31.2em;            
        }
        
        .leftPartWrapper {
			float: left;
			width: 100%;
			margin-right: -250px;			
		}
		
			.topLeftPartWrapper {
				margin-top: 20px;
				float: left;
				width: 100%;
				margin-left: -600px;	
				background-image: url('images/separator.gif');	
				background-position: 100% 0%;	
				background-repeat: repeat-y;				
				padding-right: 2em;
			}
			
				.leftPart {
					margin-left: 650px;	
					height: 100%;					
				}
        
        .topCentralPartWrapper {			
            float: left;				
            width: 280px;
            background-image: url('images/separator.gif');	
            background-repeat: repeat-y;
            background-position: 100% 0;
            margin: 1.3em 0 1em 0em;
            padding-left: 2em;
            padding-right: 1.5em;
        }
            
        .bottomWrapper {
            clear: both;
            margin-right: 245px;		
            background-image: url('images/separator.gif');	
            background-repeat: repeat-y;		
            background-position: 100% 0;								
        }
			
            .bottomLeftPart {
                width: 43%;
                float: left;
                padding-right: 1%;
                background-image: url('images/separator.gif');	
                background-repeat: repeat-y;
                background-position: 100% 0;
                padding-left: 4em;
            }
        
        .bottomRightPart {
            width: 44%;	
            float: right;
            padding-right: 2em;                    
        }
        
        .adColumnWrapper {
			float: right;			
			width: 220px;	
			margin-top: 1em;
		}
		
			.adBlock{
				width: 200px;
				height: 100%;				
			}
			
				.tip {
					width: 164px;
					height: 60px;
					float: left;
				}
					
					.tipArraw {
						background-image: url('images/cloudArraw.gif');	
						width: 21px;
						height: 20px;
						position: absolute;
						margin: 20px 0 0 162px;
						background-repeat: no-repeat;
					}
					
					.tipTop {
						width: 100%;
						height: 9px;
						background-image: url('images/cloudBorderHorisontal.gif');	
						background-repeat: repeat-x;
						float: left;
					}
					
						.tipTopLeft {
							width: 7px;
							height: 9px;
							float: left;
							background-image: url('images/cloudCorners.gif');	
							background-repeat: no-repeat;		
							background-position: 100% 100%;							
						}
						
						.tipTopRight {
							width: 7px;
							height: 9px;
							float: right;
							background-image: url('images/cloudCorners.gif');	
							background-repeat: no-repeat;		
							background-position: 0% 100%;							
						}
					
					.tipContent {
						font-size: 0.9em;
						font-style: italic;
						width: 144px;
						padding: 0.5em 10px 0.5em 11px;
						background-image: url('images/cloudBorder.gif');	
						background-repeat: repeat-y;
						float: left;
					}
					
						.tipRight {
							background-image: url('images/cloudBorder.gif');	
							background-repeat: repeat-y;
							background-position: 100% 0;
							margin-right: -1px;
							float: right;							
						}
					
					.tipBottom {
						width: 100%;
						height: 9px;
						background-image: url('images/cloudBorderHorisontal.gif');	
						background-repeat: repeat-x;
						float: left;
						background-position: 0% 100%;
					}
					
						.tipBottomLeft {
							width: 7px;
							height: 9px;
							float: left;
							background-image: url('images/cloudCorners.gif');	
							background-repeat: no-repeat;		
							background-position: 100% 0%;							
						}
						
						.tipBottomRight {
							width: 7px;
							height: 9px;
							float: right;
							background-image: url('images/cloudCorners.gif');	
							background-repeat: no-repeat;		
							background-position: 0% 0%;							
						}
				
				.poll {
					float: left;
					margin-top: 4em;
				}
				
					.pollContent {
						width: 153px;
						margin-bottom: 2em;
					}
					
						.pollContent div{
							font-weight: bold; 
							font-style: italic;
							margin-bottom: 1em;
						}
						
						.pollContent li {
							margin-bottom: 0.5em;							
						}
						
							.pollContent li a{
								color: #359544;
								border-bottom: 1px dotted #359544;
								text-decoration: none;
							}
				
				.bannersBlock {
					margin: 2em 0 0 0;
					float: left;
				}				
					
	.footerWrap {
		float: left;
		position: relative;
		height: 153px;
		width: 100%;
		overflow: hidden;				
		margin: 3em 0 0 -50px;        
	}
    
    	.footer {
			float: left;	
			width: 100%;	
			margin-left: 90px;			
		}
		
			#index .bottomLine {
				width: 100%;
				float: left;
				height: 5px;
				background-color: #FFB13E;
			}
            
            #city .bottomLine {
				width: 100%;
				float: left;
				height: 5px;
				background-color: #FFCC33;
			}
            
            #supreme .bottomLine {
				width: 100%;
				float: left;
				height: 5px;
				background-color: #76D3E3;
			}
            
            #mayor .bottomLine {
				width: 100%;
				float: left;
				height: 5px;
				background-color: #76D3E3;
			}
            
            #ima .bottomLine {
				width: 100%;
				float: left;
				height: 5px;
				background-color: #76C94E;
			}
			
			.copyRight {
				margin-top: 3em;
				width: 250px;
				height: 40px;					
				float: left;
			}
			
				.copyRightImage {
					background-image: url('images/images.gif');	
					background-position: 58% 0%;
					height: 40px;
					width: 31px;
					margin-right: 1em;
					float: left;
				}
				
				.copyRightText {
					margin-top: 0.2em;
					float: left;					
				}
				
				.copyRight a {
					margin-top: 0.5em;
					float: left;
				}
				
			.footerSeparator {
				margin: 3em 0 0 2em;
				float: left;
				width: 3px;
				height: 73px;
				background-image: url('images/images.gif');	
				background-position: 23.1% 0%;
			}	
			
			.editionInfo {
				margin: 3em 3em 0 2em;
				float: left;				
			}
				
				.phone {
					margin-top: 0.5em;                    
				}
                
                    .phoneIcon {
                        background-repeat: no-repeat;
                        background-image: url('images/images.gif');	
                        background-position: 17.9% 0%;
                        width: 17px;
                        height: 15px;
                        float: left;
                        margin-right: 0.5em;
                    }
				
				.editionInfo a {
					margin-top: 0.5em;
					float: left;					
				}
                
                    .mailIcon {
                         background-repeat: no-repeat;
                        background-image: url('images/images.gif');	
                        background-position: 21% 0%;
                        width: 17px;
                        height: 15px;
                        float: left;
                        margin-right: 0.5em;
                    }
                    
			.aboutLinks {
				margin: 2.5em 0 0 2.2em;
				float: left;
			}
				
				.aboutLinks li {
					margin-top: 0.5em;
				}				
								
			.foundedBy {
				float: right;
				margin: 2.8em 9em 0 0;
				width: 160px;
			}			
				
				.logoAp {
					width: 44px;
					height: 32px;
					background-image: url('images/images.gif');	
					background-position: 64% 0%;
					float: left;
				}
				
				.floundedByText {
					margin-left: 1em;
					float: left;
				}
				
				.foundedBy a {
					margin: 0.1em 0 0 1em;
					float: left;
				}
    
/*-------------blocks-------------*/

/*-index-*/

    .activity {
        clear: both;
        margin-bottom: 1em;
        float: left;
    }
    
        .dayOfActivity {
            clear: both;
            margin-top: 1em;
            float: left;
        }
        
        .activityList {
            float: left;
            margin-bottom: 1em;
        }					
        
            .activityText {
                margin-left: 5.5em;								
            }
            
                .withoutPicture {
                    margin-left: 0em !important;
                }
                
                .dateOfActivity {
                    background-color: #4FBA51;
                    border-bottom: 1px solid #378A39;
                }	
						
            
    .questionToMayor {
        float: left;
        margin-bottom: 1em;
        width: 200px;
    }
    
        .questionToMayer img {
            float: left;						
        }
        
        .questionToMayer a{
            color: #0099CC;					
        }
        
    .featured {
        clear: both;
        margin-bottom: 1em;
    }		

        .featuredDay {
            background-color: #7BCB7D;
            border-bottom: 1px solid #378A39;
        }
    
    .notification {
        clear: both;
        float: left;
        margin-bottom: 1em;
        width: 100%;
    }
        .dateOfNotification {
            background-color: #B867B8;
            border-bottom: 1px solid #8E448E;                            
        }
						
    .articles {
        clear: both;
        width: 100%;
        float: left;
        margin-bottom: 1em;
    }
    
        .dateOfArticle {
            background-color: #4FBA51;
            border-bottom: 1px solid #378A39;
        }
                
    .mayorDecrees {
        float: left;
        margin-bottom: 1em;
        width: 100%;
    }
    
        .mayorDecreesList {
            float: left;
            margin-bottom: 1em;
        }
        
            .dateOfDecrees {
                background-color: #29B3CB;
                border-bottom: 1px solid #1C7484;
            }
    
    .dumaDecrees {
        float: left;
        margin-bottom: 1em;
    }                    

		
                
/*-city-*/
    
    .cherepovets {
        margin-top: -5px;
        margin-bottom: 1em;
        float: left;
    }

        .cherepovetsTextBlock {
            clear: both;
            margin-top: 1em;
        }
        
        .armsAndFlagContainer {
            width: 100%;
            float: left;
            margin: 1em 0 2em 0;
        }
        
            .armsAndFlagsContainer img {
                float: left;
            }
          
            .arms {
                float: left;
            }    
                
            .flag {
                margin-left: 1em;
                margin-top: 0.5em;
                float: left;
            }
            
                .arms img , .flag img {
                    float: left;
                }
                
                .arms a {
                    margin: 1.5em 0 0 0.5em;
                    float: left;                        
                }
                
                .flag a {
                    margin: 1.2em 0 0 0.5em;
                    float: left; 
                }
        
        .cityStatWrap {
            clear: both;                
        }
        
            .cityStat {
                float: left;
                margin-right: 1em;
            }
                
                .cityStat ul {
                    margin-top: 1em;
                }
                
                    .cityStat ul li {
                        margin-top: 0.5em;
                    }
                
                        .statImage {
                            background-image: url('images/images.gif');	
                            width: 18px;
                            height: 16px;
                            float: left;
                            margin-right: 0.5em;                                
                        }
                            
                        .statImageDate {
                            background-position: 71.1% 0%;
                        }
                
                        .statImageSquare {
                            background-position: 74.1% 0%;
                        }
                            
                        .statImagePopulation {
                            background-position: 77% 0%;
                        }
                        
                        .statImageCode {
                            background-position: 79.7% 0%;
                        }
                        
                        .statImageSelebration {
                            background-position: 82.5% 0%;
                        }
                        
    .news {
        margin-bottom: 1em;
    }
        
        .newsList {
            float: left;
        }
            
            .dateOfNews {
                background-color: #4FBA51;
                border-bottom: 1px solid #378A39;
            }
    
    .quotation {
        font-style: italic;        
        margin-bottom: 2em;        
    }
    
        .quotation img {
            float: left;
            margin-right: 0.8em;
        }
        
        .quotation a {
            color: #0099CC;
        }    
        
        .quotationPerson {
            margin-top: 0.5em;
            font-style: italic;
        }
        
        .quotationTextContainer {
            margin-top: 2em;
        }
        
            .openedBracket {
                font-size: 2em;
                position: absolute;
            }
            
            .quotationText {
                padding: 0.8em 0 0 1.5em;                
            }
            
            .closedBracket {
                font-size: 2em;
                position: absolute;
                margin-left: 0.2em;
                margin-top: -0.3em;
                
            }
        
        .geography {
            margin-bottom: 1em;
        }
            
            .geography {
                margin-bottom: 1em;
            }
            
                .mapLinks {
                    display: block;
                    margin-top: 0.5em;
                }
                
                    .mapLinks li {
                        margin-top: 0.3em;
                    }
                    
        .history {
            margin-bottom: 1em;
            float: left;
        }
            
        .now {
            margin-bottom: 1em;
            float: left;
        }
        
            .iLoveCherepovetsBanner {
                float: left;
                margin: 1em 0 1em 0;
            }            
                
        .future {
            margin-bottom: 1em;
            float: left;
        }   

/*-Supreme-*/

    .cityHall {
        clear: both;        
    }
    
        .cityHall img {
            float: left;
        }
        
        .cityHallInfo {
            margin: 0 0 1em 1em;
            float: left;
        }
        
            .cityHallStuctLink {
                margin-top: 0.3em;
                float: left;
            }
            
            .cityHallText {
                clear: both;
                float: left;
                margin-bottom: 1em;
            }
    
    .federalServices {
        clear: both;
    }
        
        .federalServicesList {
            float: left;            
            margin-top: 1em;
        }
        
            .federalServicesList li {
                margin-bottom: 3em;
            }
            
                .federalServicesList li img {
                    float: left;
                    position: absolute;
                }
                    
                    .federalServicesListItem {
                        margin-left: 7.5em;
                    }
                    
    .cityDuma {
        float: left;
        margin-bottom: 1em;    
    }
    
        .cityDumaInfoWrap {
            float: left;
        }
                
    .plansAndNotices {
        margin-bottom: 1em;
        float: left;
    }
        
        .dateOfPlansAndNotices {
            background-color: #29B3CB;
            border-bottom: 1px solid #1C7484;
        }
        
    .cityMembers {
        float: left;
        margin-bottom: 1em;
    }
    
        .cityMembersTitle {
            margin: 1em 0 1em 0;         
        }
           
        .cityMembersListOfLinks {
            margin-top: 1em;    
        }
                
    .election {
        margin-bottom: 1em;
        float: left;
    }
        
        .electionTotals {
            margin-bottom: 1em;
            float: left;            
        }
        
            .dateOfElectionTotals {
                background-color: #29B3CB;
                border-bottom: 1px solid #1C7484;
            }
        
    .judicialAuthority{
        clear: both;
    }
    
        .court {
            margin: 1em 0 1em 0;
            float: left;
        }
            
            .courtPlace {
                margin-top: 0em !important;
            }
    
/*-ima-*/
    .imaCher {
        float: left;
        margin-bottom: 1em;
    }            
        
/*-mayor-*/

    .leftColumn {     
        width: 230px;
        height: 100%;
        float: left;
        margin-left: 50px;        
    }
    
    .rightColumn {      
        width: 230px;
        height: 100%;
        float: right;            
    }
    
    .centralColumn {        
        height: 100%;
        margin: 0 260px 0 290px;
        background-image: url('images/separator.gif');	
    	background-position: 0% 0%;	
        background-repeat: repeat-y;
    }
        
        .centralColumnContent {
            float: left;
            background-image: url('images/separator.gif');	
    		background-position: 0% 0%;	
            background-repeat: repeat-y;
            padding-left: 2em;
        }
        
            .centralColumnContentWrapper {
                background-image: url('images/separator.gif');	
                background-position: 100% 0%;	
                background-repeat: repeat-y;
                padding-right: 2em;
                float: left;
            }
    
        .linksMenu {
            
        }
        
            .linksMenu li {
                margin-bottom: 1em;
            }
            
            .expandedLinksMenuItem {
                
            }
            
                .expandedLinksMenuItemLink {
                    color: #000000;
                    text-decoration: none;
                    font-weight: bold;
                }
            
            .linksSubMenu {
                margin: 1em 0 0 2em;
            }
    
    .mayorTitle {
        float: left;
        height: 350px;
    }
    
        .mayorQuotation {
            font-style: italic;        
            margin-bottom: 2em;        
        }
            
            .mayorQuotationTextContainer {
                
            }
            
            .mayorQuotation img {
                position: absolute;
                margin-right: 0.8em;
                float: left;
            }
            
            .mayorQuotationContent {
                margin-left: 220px;
            }
                
                .mayorName {
                    color: #000000;
                    text-decoration: none;
                    font-weight: bold;
                }
                
                .mayorsQuotationLinks {
                    font-style: normal;
                }
                
                    .mayorsQuotationLinks li {
                        margin-top: 1em;
                    }
                
    .personTable {
        margin-bottom: 2em;        
    }
        
        .personTable td {
            padding: 0 10px 30px 0;
        }
        
            .personTable td img {
                position: absolute;
            }
            
            .tablePersonInfo {
                margin-left: 70px;
            }
    
    .mayorInterview {
        float: left;
        margin-bottom: 1em;
    }
    
        .dateOfMayorInterview {
            background-color: #4FBA51;
            border-bottom: 1px solid #378A39;
        }
    
    .mayorsMail {
        float: left;
        margin-bottom: 1em;
        clear: both;
        width: 100%;
    }
    
        .dateOfMayorsMail {
            background-color: #29B3CB;
            border-bottom: 1px solid #1C7484;
        }       
        
    
    
